@use 'src/styles/abstracts/_constants' as constants;

.footer {
  height: auto;
  color: black;
  font-weight: 100;
  background-color: #f8f8f8;
  border-top: 1px solid grey;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .basedata,
  .conditions,
  .address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.5rem 2rem;

    @media screen and (min-width: constants.$mobileMaxWidth) {
      margin: 0.5rem 1rem;
    }
  }

  @media screen and (min-width: constants.$mobileMaxWidth) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
}
