@use 'src/styles/abstracts/_constants' as constants;

.postPreview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (min-width: constants.$mobileMaxWidth) {
    display: grid;
    grid-template-areas:
      'image title'
      'image meta'
      'image excerpt';
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 22rem 1fr;
    column-gap: 1rem;
  }

  .title {
    a {
      text-decoration-line: none;
      color: black;
    }
    @media screen and (min-width: constants.$mobileMaxWidth) {
      grid-area: title;
      margin-top: 0;
      margin-bottom: 0.25rem;
    }
  }

  .imageLink {
    width: 100%;

    @media screen and (min-width: constants.$mobileMaxWidth) {
      grid-area: image;
    }
  }

  .image {
    width: 100%;
    object-fit: cover;
  }

  .meta {
    font-weight: 200;
    @media screen and (min-width: constants.$mobileMaxWidth) {
      grid-area: meta;
    }
  }

  .excerpt {
    @media screen and (min-width: constants.$mobileMaxWidth) {
      grid-area: excerpt;
    }
  }
}
