.coverImage {
  @media (min-width: 640px) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .image {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    width: 100%;

    &.hasSlug {
      transition-property: box-shadow;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      &:hover {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
      }
    }
  }
}
