.header {
  height: 10rem;
  color: black;
  border-bottom: 1px solid grey;
  display: flex;

  a {
    display: grid;
    white-space: nowrap;
    text-decoration: none;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    color: black;
  }

  .logo {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .title {
    grid-column: 2;
    grid-row: 1;
    font-weight: 400;
    align-self: end;
    margin-bottom: 0;
  }

  .subtitle {
    grid-column: 2;
    grid-row: 2;
    font-weight: 100;
    align-self: start;
    margin-top: 0;
  }
}
